<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/styles/second_page.css">
    <link rel="import" href="ht.html">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@700&family=Jomhuria&family=Peddana&display=swap" rel="stylesheet">
    <link href="https://fonts.cdnfonts.com/css/motiva-sans" rel="stylesheet">
</head>
<body>
<form action="/reg" method="post" class="steam-guard">
    <p class="steam-guard-acc">Your Account</p>
    <div class="form-field-guard">
            <label class="form-label" for="guard">Steam guard</label>
            <input type="text" class="form-input" id="guard" name="guard">
    </div>
    <button type="submit" class="btn">Submit</button>
</form>
</body>
</html>